.card-container {
    border: 1px solid #4c4c4c;
    border-radius: 10px;
    width: 100%;
    min-height:400px;
    background-color: #1a1a1a;
    // margin-left: 37px;

    .imgsec {
        width: 100%;
        // height: fit-content;
        // overflow: hidden;

        img {
            margin: 8px;
            // object-fit: cover;
        }
    }

    .nameenroll {
        padding: 12px;
        display: flex;
        justify-content: space-between;
        margin: 20px 8px 8px 8px;
        align-items: center;

        .ename {
            font-weight: 600;
            font-size: 18px;
        }

        .enroll {

            font-weight: 600;
            font-size: 16px;
            background-color: #01265D;
            color: #fff;
            border-radius: 8px;
            padding: 16px 24px;
            cursor: pointer;

            &:disabled {
                background-color: #E82E8A;
                cursor: default;

                &:hover {
                    opacity: 1;
                }
            }
        }

        .enroll:hover {
            opacity: 0.9;
        }
    }

    .dtp {
        padding: 12px;
        display: flex;
        justify-content: space-between;
        margin: 0 8px 8px 8px;

        .edate {

            .etitle {
                color: #ABABAB;
                font-weight: 600;
                font-size: 12px;

            }

            .dtime {
                color: #000000;
                font-weight: 600;
                font-size: 14px;

            }
        }

        .even {


            .eventi {
                color: #ABABAB;
                font-weight: 600;
                font-size: 12px;

            }

            .ven {
                color: #000000;
                font-weight: 600;
                font-size: 14px;

            }
        }


    }
}

@media (max-width: 860px) {
    .card-container {
        margin-left: 0;
    }
}