.profile_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../assets/images/profilebg.png");
    background-color: black;
    background-size:cover;
    background-position: center;
    height: 970px;
    margin-bottom: -200px;
  }
  
  .profile-box {
    background: linear-gradient(180deg, #004157 0%, #111111 100%);
    width: 360px;
    height: 400px;
    display: flex;
    position: relative;
    bottom: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    text-align: center;
    box-shadow: radial-gradient(73.13% 73.13% at 50% 50%, #38CCFF 0%, rgba(56, 204, 255, 0) 100%);
  }
  
  .profilesubitem1 {
    border-radius: 12px;
    background: white;
    height: 240px;
    width: 240px;
    margin-bottom: 20px;
  }
  
  .profilesubitem2 {
    h1 {
      color: white;
      font-size: 24px;
      margin-bottom: 10px;
    }
  
    span {
      color: #38CCFF;
      font-size: 18px;
      font-weight: 500;
    }
  }

  @media screen and (max-width:768px) {
    .profile_container{
      height: 100vh;;
    }
    .profile-box{
      width: 300px;
      height: 340px;
      .profilesubitem1{
        height: 200px;
        width: 200px;
      }
    }
  }
  @media screen and (max-width:386px) {
    .profile-box{
      width: 280px;
      height: 320px;
      .profilesubitem1{
        height: 190px;
        width: 190px;
      }
    }
  }
