.event-container {
    padding: 2rem 10%;
    background-color: #111111;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    .mname {
        font-weight: 700;
        font-size: 60px;
        line-height: 72px;
        margin-top: 50px;
        color: #fff;
    }

    .card-contain {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
        align-items: center;
        width: 100%;
    }

    .null_text {
        color: gray;
        font-weight: bold;
    }

    @media (max-width: 1350px) {
        .mname {
            margin-left: 0;
            text-align: center;
            font-size: 50px;
        }

        .card-contain {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
        }
    }

    @media (max-width: 860px) {
        .card-contain {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto;
        }

        .mname {
            margin-left: 0;
            text-align: center;
            font-size: 45px;
        }

    }
    @media (min-width: 1760px) {
        .card-contain {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto;
        }
    }
    @media (min-width: 2150px) {
        .card-contain {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: auto;
        }
    }
}
.music{
    padding-left: 6%;
}
@media screen and (max-width:600px) {
    .event-container{
        padding: 4rem 10%;
    }
}
